.hero {
    background-image: url("/public/images/hero-background-dark@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 19em;
    margin-top: -7em;
    background-position: center;

    text-align: center;
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    align-items: flex-end;
    justify-content: center;
}