
.card__layout {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-xxl);
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 12;
}

.card__layout ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.card__layout ul,
.card__layout li {
    margin: 0;
    padding: 0;

}

.card {
    background: var(--black);
    border: solid var(--border-width-lg) var(--white);
    color: var(--white);
    margin-bottom: var(--space-xl);
    display: block;
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.89);
}

.card:hover .card__image {
    background: var(--gradient-2);
}

.light-mode .card {
    border-color: var(--grey-4);
    background: var(--white);
}

.card__image {
    background: var(--gradient-1);
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--space-lg) var(--space-lg) var(--space-sm);
}

a.card__title, 
.light-mode a.card__title {
    color: var(--black);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: 1em;
}

.card__content {
    padding: var(--space-sm) var(--space-lg);
    position: relative;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__sub-title {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
    line-height: 1em;
}

.light-mode .card__sub-title {
    color: var(--grey-4);
}

.card__date {
    align-self: flex-end;
    color: var(--green);
}

.light-mode  .card__date {
    color: var(--grey-4);
}

@media (min-width: 970px) {
    .card__layout {
        display: grid;
    }
}