
.card__layout {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 12;
}

.card__layout ul,
.card__layout li {
    margin: 0;
    padding: 0;
}

.card {
    background: var(--silver);
    padding: var(--space-lg);
    color: var(--black);
    width: 12em;
    margin-right: var(--space-md);
}

.card__name {
    background: var(--green);
    height: 250px;
    display: block;
}