
.content {
  padding: var(--space-xxl);
}

.section-1,
.section-1-bottom,
.section-3 {
  background-color: var(--grey-5);
}

.light-mode .section-1,
.light-mode .section-1-bottom,
.light-mode .section-3 {
  background-color: var(--silver);
}

.section-2,
.section-2-bottom {
  background-color: var(--grey-4);
}

.section-2__img {
  grid-column-start: 2;
  grid-column-end: 12;
  z-index: 2;
  margin-top: -8em;
  margin-bottom: -10em;
}

.light-mode .section-2,
.light-mode .section-2-bottom {
  background-color: var(--whiteish);
}

.section-1,
.section-2,
.section-3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.section-2,
.section-3 {
  padding-top: 10rem;
  margin-top: -12rem;
}

.section-1-bottom,
.section-2-bottom {
  clip-path: var(--angle-dark);
  height: 12em;
}

.light-mode .section-1-bottom,
.light-mode .section-2-bottom {
  clip-path: var(--angle-light);
}

.section-1 {
  padding-top: var(--space-lg);
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-bold);
}

.intro, 
.meta,
.prose {
  grid-column-start: 3;
  grid-column-end: 11;
}

.section__header {
  margin-top: var(--space-lg);
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 12;
}

@media (min-width: 567px) {
  .section__header {
    display: flex;
  }
}

.global-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}


.global-grid__content {
    grid-column-start: 2;
    grid-column-end: five;
}

