.header__fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.header {
    background: rgba(0, 0, 0, 0.85);
    color: var(--silver);
    padding-top: var(--space-lg);
}

@media (min-width: 567px) {
    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
    }
  }

.header__logo {
    max-width: 290px;
    grid-column-start: 2;
    grid-column-end: 5;
    z-index: 2; 
    margin: auto;
}

@media (min-width: 567px) {
    .header__logo {
        grid-column-start: 2;
        grid-column-end: 5;
        margin: 0;
    }
}

.header__svg {
    fill: url(#logo-gradient);
}

.light-mode .header__svg {
    fill: var(--black);
}

.light-mode .header {
    background: rgba(114, 244, 160, 0.85);
}

.divider {
    width: 100%;
    height: 15em;
    clip-path: var(--angle-dark);
}

@media (min-width: 567px) {
    .divider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    }
}

.light-mode .divider {
    clip-path: var(--angle-light);
}
