.header {
    background: var(--black);
    color: var(--silver);
    padding-top: var(--space-lg);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.header__logo {
    max-width: 290px;
    grid-column-start: 2;
    grid-column-end: 5;
    z-index: 2; 
}

.header__svg {
    fill: url(#logo-gradient);
}

.light-mode .header__svg {
    fill: var(--black);
}

.light-mode .header {
    background: var(--green);
}