.hero {
    background-image: url("/public/images/teal-lightning.jpg");
    background-repeat: no-repeat;
    background-position: center -1160px;
    background-size: 2000px;
    height: 30em;
    padding-bottom: var(--space-lg);

    text-align: center;
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    align-items: flex-end;
    justify-content: center;
}

.hero__header {
    font-family: var(--font-family-display);
    font-size: var(--font-size-display);
    font-weight: normal;
    margin-bottom: 0;
}

.hero__subheader {
    margin: 0;
    color: var(--green);
}

.light-mode .hero__header {
    color: var(--white);
}

.light-mode .hero {
    background-image: url("/public/images/green-lightrays.jpg");
    background-size: 1800px;
    background-position: center -300px;
}

.home-hero {
    font-weight: var(--font-weight-regular);
    text-align: center;
    line-height: var(--line-height-xs);
    color: var(--white);
}

.home-hero h1 {
    margin-bottom: 0;
    font-weight: var(--font-weight-bold);
}

.home-hero__title {
    line-height: var(--line-height-xs);
    display: flex;
    justify-content: center;
}

.home-hero__and {
    font-family: var(--font-family-display);
    font-size: var(--font-size-lg);
    font-weight: normal;
}

.home-hero__divider {
    height: var(--border-width-lg);
    background-color: var(--green);
}

.home-hero__whatever {
    display: block;
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: var(--font-size-sm);
}