.hero {
    background-image: url("/public/images/hero-background-dark@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25em;
    margin-top: -9em;
    background-position: center;

    text-align: center;
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    align-items: flex-end;
    justify-content: center;
}

.hero__header {
    font-family: var(--font-family-display);
    font-size: var(--font-size-display);
    font-weight: normal;
    margin-bottom: 0;
}

.hero__subheader {
    margin: 0;
    color: var(--green);
}

.light-mode .hero__header,
.light-mode .hero__subheader {
    color: var(--white);
}

.light-mode .hero {
    background-image: url("/public/images/hero-background-light.jpg");
}