
.navigation {
    grid-column-start: 8;
    grid-column-end: 12;
    justify-self: end;
}

.navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navigation a {
    color: var(--green);
    padding: var(--space-md) var(--space-sm);
}

/* This isn't right, fix it */
.navigation ul:last-child li a {
    margin-right: 0;
}

.light-mode .navigation a {
    color: var(--black);
}