.pills {
    list-style: none;
    padding-left: 0;
}

.pill {
    background: var(--blue);
    color: var(--white);
    border-radius: var(--border-radius-lg);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    padding: 0 var(--space-sm);
}

.pill:last-of-type {
    margin-right: 0;
}


@media (min-width: 567px) {
    .pills {
        display: flex;
  
    }

    .pill {
        margin-right: var(--space-sm);
    }

}