.divider {
    background-color: var(--black);
    width: 100%;
    height: 12em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 38%);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

    margin-top: -2em;
}

.switch {
    grid-column-start: 9;
    grid-column-end: 12;
    justify-self: end;
    margin-right: var(--space-sm);
    display: flex;
    align-items: flex-start;
    font-size: var(--font-size-xs);
}

.switch .button:first-of-type {
    border-right: none;
}

.light-mode .divider {
    background-color: var(--green);
    clip-path: polygon(0 0, 100% 0, 100% 38%, 0 100%);
}