@import "./design-tokens.css";
@import "./typography.css";
@import "./components/index.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-default);
  line-height: var(--line-height-sm);
  font-size: var(--font-size-base);
  word-wrap: break-word;
  text-size-adjust: none;
  background-color: var(--black);
  color: var(--silver);
}

body.light-mode {
  background-color: var(--white);
  color: var(--black);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}